# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo

# Gradle and temporary files
.gradle/
dist/*.txt
dist/*.cjs
*.txt


.vercel
.env*
